<!-- begin:Table -->
<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Midwifes List</h3>
      </div>
      <div class="card-toolbar">
        <a type="button" class="btn btn-primary" [routerLink]="['/mpdirectory/midwifes/add']"
          >New Midwifes</a
        >
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive angular-bootstrap-table">
        <table
          class="table table-head-custom table-vertical-center overflow-hidden"
        >
          <thead>
            <th>
              Name
            </th>
            <th>
                Address
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Email Id
            </th>
            <th>ACTIONS</th>
          </thead>
          <tbody>
            <tr *ngFor="let midWifesItem of apiData.midWifesData">
              <td>
                {{ midWifesItem.name }}
              </td>
              <td>{{ midWifesItem.address }}</td>
              <td>{{ midWifesItem.contactNumber }}</td>
              <td>{{ midWifesItem.emailId }}</td>
              <td>
                <a [routerLink]="['/mpdirectory/midwifes/edit',midWifesItem._id]">Edit</a>
                <span> | </span>
                <a role="button" (click)="deleteMidWifes(midWifesItem._id)" [routerLink]="">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end: Table -->
    </div>
  </div>
  
  
