
<!-- begin:Table -->
<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">{{hospitalId ? 'Edit' : 'Add'}} Hospital</h3>
      </div>
    </div>
    <div class="card-body">

        <form novalidate #hospitalForm="ngForm">

            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="name"
                #name="ngModel"
                placeholder="Hospital Name"
                required
                [(ngModel)]="hospitalInfo.name"
              />
              <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Hospital Name is required',
                control: name
              }"
            ></ng-container>
            </div>
            <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="description"
                  placeholder="Description"
                  [(ngModel)]="hospitalInfo.description"
                />
              </div>

              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="address"
                  placeholder="Address"
                  [(ngModel)]="hospitalInfo.address"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="contactNumber"
                  placeholder="Contact Number"
                  [(ngModel)]="hospitalInfo.contactNumber"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="whatsAppNumber"
                  placeholder="whatsAppNumber"
                  [(ngModel)]="hospitalInfo.whatsAppNumber"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="emailId"
                  placeholder="Email Id"
                  [(ngModel)]="hospitalInfo.emailId"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="website"
                  placeholder="Website"
                  [(ngModel)]="hospitalInfo.website"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="specialistIn"
                  placeholder="Specialist In"
                  [(ngModel)]="hospitalInfo.specialistIn"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="twitterLink"
                  placeholder="Twitter Link"
                  [(ngModel)]="hospitalInfo.socialMediaLinks.twitter"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="facebookLink"
                  placeholder="Facebook Link"
                  [(ngModel)]="hospitalInfo.socialMediaLinks.facebook"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="instagramLink"
                  placeholder="Instagram Link"
                  [(ngModel)]="hospitalInfo.socialMediaLinks.instagram"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="whatsAppLink"
                  placeholder="WhatsAppLink"
                  [(ngModel)]="hospitalInfo.socialMediaLinks.whatsApp"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="hoursOfOperation"
                  placeholder="Hours Of Operation"
                  [(ngModel)]="hospitalInfo.hoursOfOperation"
                />
              </div>
            
  
            <div class="form-group">
              <button
                class="btn btn-primary"
                type="submit"
                (click)="onClickSaveArticle(hospitalForm)"
              >
              {{hospitalId ? 'Edit' : 'Add'}} Hospital
              </button>
            </div>
          </form>
    </div>
  </div>
  <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  
>  <ng-container
    *ngIf="(hospitalForm.submitted || control.dirty || control.touched) && control.hasError(validation)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>

