
<!-- begin:Table -->
<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">{{doctorId ? 'Edit' : 'Add'}} Doctor</h3>
      </div>
    </div>
    <div class="card-body">

        <form novalidate #DoctorForm="ngForm">

            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="name"
                #name="ngModel"
                placeholder="Doctor Name"
                required
                [(ngModel)]="doctorInfo.name"
              />
              <ng-container
              [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Doctor Name is required',
                control: name
              }"
            ></ng-container>
            </div>
            <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="qualifications"
                  placeholder="qualifications"
                  [(ngModel)]="doctorInfo.qualifications"
                />
              </div>

              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="contactNumber"
                  placeholder="Contact Number"
                  [(ngModel)]="doctorInfo.contactNumber"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="emailId"
                  placeholder="Email Id"
                  [(ngModel)]="doctorInfo.emailId"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="specialistIn"
                  placeholder="Specialist In"
                  [(ngModel)]="doctorInfo.specialistIn"
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  name="visitingHospitals"
                  placeholder="Visiting Hospitals"
                  [(ngModel)]="doctorInfo.visitingHospitals"
                />
            </div>
            <div class="form-group">
              <button
                class="btn btn-primary"
                type="submit"
                (click)="onClickSaveDoctor(DoctorForm)"
              >
              {{doctorId ? 'Edit' : 'Add'}} Doctor
              </button>
            </div>
          </form>
    </div>
  </div>
  <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
  
>  <ng-container
    *ngIf="(DoctorForm.submitted || control.dirty || control.touched) && control.hasError(validation)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>


