<!-- begin:Table -->
<div class="card card-custom gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">Article List</h3>
          </div>
          <div class="card-toolbar">
            <a type="button" class="btn btn-primary" [routerLink]="['/article/add']"
              >New Article</a
            >
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive angular-bootstrap-table">
            <table
              class="table table-head-custom table-vertical-center overflow-hidden"
            >
              <thead>
                <th>
                  Title
                </th>
                <th>
                  Describtion
                </th>
                <th>
                    publishType
                </th>
                <th>
                  Date
                </th>
                <th>ACTIONS</th>
              </thead>
              <tbody>
                <tr *ngFor="
                let articleItem of apiData.articlesData
              ">
                  <td>
                    {{ articleItem.title }}
                  </td>
                  <td>{{ articleItem.description | slice:0:140 }}{{ articleItem.description.length >=140 ? '...' :'' }}</td>
                  <td>{{ articleItem.publishType }}</td>
                  <td>{{ articleItem.publishedOn | date:'dd/MM/yyyy' }}</td>
                  <td><a [routerLink]="['/article/edit',articleItem._id]">Edit</a>
                    <span> | </span>
                    <a role="button" [routerLink]="" (click)="deleteArticle(articleItem._id)">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- end: Table -->
        </div>
      </div>
      